// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#submenu > ul {
  float: left;
  list-style: none;
  border-right: dashed #777 1px;
  padding: 6px 14px;
  padding-bottom: 30px;
  margin-top: -10px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 0;
  li {
    margin: 8px 0;
  }
  ul {
    font-size: 11px;
    margin: 0;
    padding-left: 16px;
    li {
      margin: 5px 0;
    }
  }
}
