.card {
  overflow: hidden;
  box-shadow: 0 3px 17px rgba(0,0,0,0.15), 0 0 5px rgba(0,0,0,0.15);
  img {
    width: 100%;
    height: auto!important;
  }
}
.add-to-cart {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 59px;
  position: absolute;
  right: 1.25rem;
  top: -30px;
  box-shadow: 0 2px 7px rgba(0,0,0,0.4);
  &:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  }
}
.labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  > div {
    width: 150px;
    position: absolute;
    &.label-new {
      left: -40px;
      top: 20px;
      transform: rotate(-45deg);
    }
    &.label-sale {
      right: -40px;
      top: 20px;
      transform: rotate(45deg);
    }
  }
}
