<p id="notice"><%= notice %></p>

<div id="submenu">
  <%= render 'submenu_categories', categories: @category.root.descendants.arrange %>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% @category.ancestors.each do |category| %>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to category.name, category %></li>
    <% end %>
  </ol>
</nav>

<div class="container mt-5">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-4 mb-3 mb-md-0">
      <div class="card h-100">
        <div class="labels">
          <div class="label-new bg-success text-white text-center py-1">New</div>
        </div>
        <img src="https://picsum.photos/300/200" alt="">
        <div class="card-body position-relative d-flex flex-column">
          <a href="#" class="add-to-cart bg-primary text-white" data-toggle="tooltip" data-placement="left" title="Add To Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
          <h3 class="text-success"><%= product.price %> đ </h3>
          <div class="rating text-warning">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div>
          <h4><%= product.name.capitalize %></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
          <a href="#" class="btn btn-success btn-block mt-auto">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Product Detail
          </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
